<div class="form-group"
	th:class="${#fields.hasErrors('configuration.kStart')} ?  'form-group has-error' : 'form-group' "  data-toggle="tooltip" title="Number of different LSH functions to use at the bottom level">
	<label for="kStart" class="col-sm-2 control-label">Starting k
		Value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.kStart}" id="kStart"
			placeholder="Starting k Value" /> <span
			th:each="error : ${#fields.errors('configuration.kStart')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.kMax')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Maximum number of different LSH functions to use at the top level">
	<label for="kMax" class="col-sm-2 control-label">Maximum k
		Value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.kMax}" id="kMax"
			placeholder="Maximum k value" /> <span
			th:each="error : ${#fields.errors('configuration.kMax')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.mSplit')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of levels to split (i.e., the depth of ALSH tree)">
	<label for="mSplit" class="col-sm-2 control-label">Splitting
		Point m</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.mSplit}" id="mSplit"
			placeholder="Spliting point value" /> <span
			th:each="error : ${#fields.errors('configuration.mSplit')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.l')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of ALSH trees">
	<label for="lv" class="col-sm-2 control-label">Number of Trees
		l</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.l}" id="lv" placeholder="L value" />
		<span th:each="error : ${#fields.errors('configuration.l')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	th:class="${#fields.hasErrors('configuration.architectureType')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Instruction set">
	<label for="arch" class="col-sm-2 control-label">Instruction
		Set</label>
	<div class="col-sm-10">
		<select class="form-control"
			th:field="${confObj.configuration.architectureType}" id="arch"
			placeholder="Instruction Set">
			<option th:each="state : ${T(ca.mcgill.sis.dmas.kam1n0.commons.defs.Architecture.ArchitectureType).values()}"
		          th:value="${state}" 
		          th:text="${state.toString().toUpperCase()}">
		   </option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.architectureType')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.iteration')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of iterations to train the Asm2Vec model">
	<label for="iteration" class="col-sm-2 control-label">Number of
		Iterations</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.iteration}" id="iteration"
			placeholder="Number of Iterations" /> <span
			th:each="error : ${#fields.errors('configuration.iteration')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.negative_samples')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of negative samples to use in approximating the log probability">
	<label for="negative_samples" class="col-sm-2 control-label">Number
		of Negative Samples</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.negative_samples}"
			id="negative_samples" placeholder="Number of Negative Samples" /> <span
			th:each="error : ${#fields.errors('configuration.negative_samples')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.min_frequeceny')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Minimum frequency a token has to satisfy so as not to be ignored">
	<label for="min_frequeceny" class="col-sm-2 control-label">Minimum
		Token Frequency</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.min_frequeceny}"
			id="min_frequeceny" placeholder="Minimum Token Frequency" /> <span
			th:each="error : ${#fields.errors('configuration.min_frequeceny')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.dim')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="The dimension of a token vector">
	<label for="dim" class="col-sm-2 control-label">Vector Size</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.dim}" id="dim"
			placeholder="Vector Size" /> <span
			th:each="error : ${#fields.errors('configuration.dim')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.wlk')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="To use random walks or not">
	<label for="wlk" class="col-sm-2 control-label">Random Walks</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.wlk}" id="wlk"
			placeholder="Random Walks" /> <span
			th:each="error : ${#fields.errors('configuration.wlk')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
