[submodule "kam1n0/kam1n0-symbolic/z3"]
	path = kam1n0/kam1n0-symbolic/z3
	url = https://github.com/Z3Prover/z3
[submodule "kam1n0/kam1n0-apps/src/main/resources/static/material-kit"]
	path = kam1n0/kam1n0-apps/src/main/resources/static/material-kit
	url = https://github.com/creativetimofficial/material-kit
[submodule "kam1n0/kam1n0-apps/src/main/resources/static/chartjs"]
	path = kam1n0/kam1n0-apps/src/main/resources/static/chartjs
	url = https://github.com/chartjs/Chart.js
