<div class="form-group"
	th:class="${#fields.hasErrors('configuration.kStart')} ?  'form-group has-error' : 'form-group' ">
	<label for="kStart" class="col-sm-2 control-label">Starting k
		value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.kStart}" id="kStart"
			placeholder="Starting k value" /> <span
			th:each="error : ${#fields.errors('configuration.kStart')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.kMax')} ?  'form-group has-error' : 'form-group' ">
	<label for="kMax" class="col-sm-2 control-label">Maximum k
		Value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.kMax}" id="kMax"
			placeholder="Maximum k value" /> <span
			th:each="error : ${#fields.errors('configuration.kMax')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.mSplit')} ?  'form-group has-error' : 'form-group' ">
	<label for="mSplit" class="col-sm-2 control-label">Splitting
		Point m</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.mSplit}" id="mSplit"
			placeholder="Spliting point value" /> <span
			th:each="error : ${#fields.errors('configuration.mSplit')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.l')} ?  'form-group has-error' : 'form-group' ">
	<label for="lv" class="col-sm-2 control-label">Number of Trees
		(l)</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.l}" id="lv" placeholder="L value" />
		<span th:each="error : ${#fields.errors('configuration.l')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	th:class="${#fields.hasErrors('configuration.architectureType')} ?  'form-group has-error' : 'form-group' ">
	<label for="arch" class="col-sm-2 control-label">Instruction
		Set</label>
	<div class="col-sm-10">
		<select class="form-control"
			th:field="${confObj.configuration.architectureType}" id="arch"
			placeholder="Instruction Set">
			<option th:each="state : ${T(ca.mcgill.sis.dmas.kam1n0.commons.defs.Architecture.ArchitectureType).values()}"
		          th:value="${state}"
		          th:text="${state.toString().toUpperCase()}">
		   </option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.architectureType')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.ClusterModel')} ?  'form-group has-error' : 'form-group' ">
	<label for="clumod" class="col-sm-2 control-label">Cluster Model</label>
	<div class="col-sm-10">
		<select class="form-control"
			th:field="${confObj.configuration.ClusterModel}" id="clumod"
			placeholder="Cluster Model">
			<option th:each="state : ${T(ca.mcgill.sis.dmas.kam1n0.app.clone.executableclassification.ExecutableClassificationApplicationConfiguration.ClusterModel).values()}"
		          th:value="${state}"
		          th:text="${state.toString().toUpperCase()}">
		   </option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.ClusterModel')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.iteration')} ?  'form-group has-error' : 'form-group' ">
	<label for="iteration" class="col-sm-2 control-label">Number of
		iterations</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.iteration}" id="iteration"
			placeholder="Number of iterations" /> <span
			th:each="error : ${#fields.errors('configuration.iteration')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.negative_samples')} ?  'form-group has-error' : 'form-group' ">
	<label for="negative_samples" class="col-sm-2 control-label">Number
		of negative samples</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.negative_samples}"
			id="negative_samples" placeholder="Number of negative samples" /> <span
			th:each="error : ${#fields.errors('configuration.negative_samples')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.min_frequeceny')} ?  'form-group has-error' : 'form-group' ">
	<label for="min_frequeceny" class="col-sm-2 control-label">Minimum
		token frequency</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.min_frequeceny}"
			id="min_frequeceny" placeholder="Minimum token frequency" /> <span
			th:each="error : ${#fields.errors('configuration.min_frequeceny')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.dim')} ?  'form-group has-error' : 'form-group' ">
	<label for="dim" class="col-sm-2 control-label">Vector size</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.dim}" id="dim"
			placeholder="Vector size" /> <span
			th:each="error : ${#fields.errors('configuration.dim')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.similarity_threshold_for_cluster')} ?  'form-group has-error' : 'form-group' ">
	<label for="similarity_threshold_for_cluster" class="col-sm-2 control-label">Similarity threshold</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.similarity_threshold_for_cluster}" id="similarity_threshold_for_cluster"
			placeholder="Similarity threshold" /> <span
			th:each="error : ${#fields.errors('configuration.similarity_threshold_for_cluster')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.cluster_class_distribution_significance')} ?  'form-group has-error' : 'form-group' ">
	<label for="cluster_class_distribution_significance" class="col-sm-2 control-label">Cluster discriminative power threshold (only for Union-Find)</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.cluster_class_distribution_significance}"
			id="cluster_class_distribution_significance" placeholder="Cluster Discriminative Power Threshold" /> <span
			th:each="error : ${#fields.errors('configuration.cluster_class_distribution_significance')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	th:class="${#fields.hasErrors('configuration.min_exe_per_cluster')} ?  'form-group has-error' : 'form-group' ">
	<label for="min_exe_per_cluster" class="col-sm-2 control-label">Number of covered executable per cluster threshold (only for SLink)</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.min_exe_per_cluster}"
			id="min_exe_per_cluster" placeholder="Number of Covered Executable Per Cluster Threshold" /> <span
			th:each="error : ${#fields.errors('configuration.min_exe_per_cluster')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	th:class="${#fields.hasErrors('configuration.classes')} ?  'form-group has-error' : 'form-group' ">
	<label for="classes" class="col-sm-2 control-label">Class List</label>
	<div class="col-sm-10">
	<span  class="btn btn-default btn-file" >
		<input class="form-control" type="file" id="classes_f" >Browse</input>
	</span>
	<div class="col-sm-10">
<textarea class="form-control" placeholder="class1_name,class2_name,class3_name,..." id="file_result" th:field="${confObj.configuration.classes}"  rows="6" cols="10" form="appForm"> 
</textarea>
	</div>
	</div>
</div>

<script th:inline="javascript">
		/*<![CDATA[*/
document.getElementById('classes_f').onchange = function(){

  var file = this.files[0];

  var reader = new FileReader();
  reader.onload = function(progressEvent){
    // Entire file
    console.log(this.result);

	document.getElementById('file_result').value = "";

    // By lines
    var lines = this.result.split('\n');
    for(var line = 0; line < lines.length; line++){
	document.getElementById('file_result').value += lines[line]+"\n";
      console.log(lines[line]);
    }
  };
  reader.readAsText(file);
};
/*]]>*/
</script>
