*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023
*.iml

dependency-reduced-pom.xml
kam1n0.log.txt
bin/kam1n0.jar
bin/Dia2Dump.exe
bin/kam1n0-apps-2.0.0.jar
bin/www/.idea/
target/
