<div class="form-group"
	th:class="${#fields.hasErrors('configuration.maxSize')} ?  'form-group has-error' : 'form-group' ">
	<label for="maxSize" class="col-sm-2 control-label">Maximum
		bucket size</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.maxSize}" id="maxSize"
			placeholder="Maximum bucket size (# of unique items)." /> <span
			th:each="error : ${#fields.errors('configuration.maxSize')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.maxDepth')} ?  'form-group has-error' : 'form-group' ">
	<label for="maxDepth" class="col-sm-2 control-label">Maximum
		depth</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.maxDepth}" id="maxDepth"
			placeholder="Maximum tree depth." /> <span
			th:each="error : ${#fields.errors('configuration.maxDepth')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	th:class="${#fields.hasErrors('configuration.bound')} ?  'form-group has-error' : 'form-group' ">
	<label for="bound" class="col-sm-2 control-label">Sampling
		bound</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			th:field="${confObj.configuration.bound}" id="maxDepth"
			placeholder="The bound for I/0 input sampling. " /> <span
			th:each="error : ${#fields.errors('configuration.bound')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
