<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="ProgressDialogUI">
      
      <DialogRef Id="UserRegDialog"/>
      
      <!--<Binary Id="headerPic" src="images/header.png"/>-->

      <TextStyle Id="TahomaBig" FaceName="Tahoma" Size="22" Bold="yes" Red="255" Green="255" Blue="255" />
      
      <Dialog Id="ProgressDialog" Width="400" Height="300" Title="Silly Software" Modeless="yes">

        <Control Id="background" Type="Bitmap" Text="bgPic" Height="300" Width="400" X="0" Y="0" TabSkip="no" />

        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        
        <Control Id="installationText"  Type="Text" X="65" Y="10" Width="350" Height="40" Transparent="no" Text="{\TahomaBig}Metro App Installation" />

        <Control Id="waitText" X="85" Y="100" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100" Text="{\TahomaNormal}Please wait while Metro App is installed.Click on the Cancel button to exit." />
        
        <Control Id="progressText" Type="Text" X="10" Y="100" Width="250" Height="32" NoWrap="no">
          <Subscribe Event="ActionData" Attribute="Text" />
        </Control>

        <Control Id="installProgressBar" Type="ProgressBar" X="25" Y="150" Width="350" Height="20" >
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="40" Width="144" X="135" Y="245" Cancel="yes" TabSkip="no" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

      <InstallUISequence>
        <Show Dialog="ProgressDialog" After="UserRegDialog" />
      </InstallUISequence>

    </UI>
  </Fragment>
</Wix>