<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UserRegDialogUI">

      <Property Id="Proceed">proceedbtn</Property>
      <Binary Id="proceedbtn" SourceFile="imgs/proceedbtn.bmp"/>
      <Binary Id="headerPic" SourceFile="imgs/header.bmp"/>

      <Dialog Id="UserRegDialog" Width="400" Height="300" Title="Silly Software : User Registration">

        <Control Id="background" Type="Bitmap" Text="bgPic" Height="300" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="headerText"  Type="Text" X="65" Y="10" Width="350" Height="40" Transparent="yes" Text="{\TahomaBig}User Registration" />
        
        
        <Control Id="explanationText" X="85" Y="75" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100" Text="{\TahomaNormal}Before you can use this awesome product, you need to register. If you choose not to install this application, click on the Cancel button to exit." />

        <Control Id="nameLabel" Type="Text" X="85" Y="120" Height="17" Width="65" Transparent="yes" Text="{\TahomaNormal}Your Full Name:" />
        <Control Id="nameTextbox" Type="Edit" X="150" Y="117"  Height="17" Width="120" Property="FULLNAMEProperty"  />

        <Control Id="emailLabel" Type="Text" X="85" Y="140" Height="17" Width="65" Transparent="yes" Text="{\TahomaNormal}Your E-mail:" />
        <Control Id="emailTextbox" Type="Edit" X="150" Y="137"  Height="17" Width="120" Property="EMAILProperty"  />

        <Control Id="proceedButton" Type="PushButton" Text="[Proceed]" Height="62" Width="222" X="90" Y="180" Bitmap="yes">
          
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="40" Width="144" X="135" Y="245" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

    </UI>

    <InstallUISequence>
      <Show Dialog="UserRegDialog" After="SetupDialog" />
    </InstallUISequence>

  </Fragment>

  
  
</Wix>