<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.kStart')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of different LSH functions to use at the bottom level">
	<label for="kStart" class="col-sm-2 control-label">Starting k
		Value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.kStart}" id="kStart"
			   placeholder="Starting k Value" /> <span
			th:each="error : ${#fields.errors('configuration.kStart')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.kMax')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Maximum number of different LSH functions to use at the top level">
	<label for="kMax" class="col-sm-2 control-label">Maximum k
		Value</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.kMax}" id="kMax"
			   placeholder="Maximum k value" /> <span
			th:each="error : ${#fields.errors('configuration.kMax')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.mSplit')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of levels to split (i.e., the depth of ALSH tree)">
	<label for="mSplit" class="col-sm-2 control-label">Splitting
		Point m</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.mSplit}" id="mSplit"
			   placeholder="Spliting point value" /> <span
			th:each="error : ${#fields.errors('configuration.mSplit')}"
			th:text="${error}" class="help-block" />
	</div>
</div>
<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.l')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of ALSH trees">
	<label for="lv" class="col-sm-2 control-label">Number of Trees
		l</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.l}" id="lv" placeholder="L value" />
		<span th:each="error : ${#fields.errors('configuration.l')}"
			  th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.maxiFunc')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Maximum number of functions in a bucket">
	<label for="lv" class="col-sm-2 control-label">Maximum number of functions in a bucket
		maxiFunc</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.maxiFunc}" id="lv" placeholder="maxiFunc value" />
		<span th:each="error : ${#fields.errors('configuration.maxiFunc')}"
			  th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.uselsh')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Maximum number of functions in a bucket">
	<label for="lv" class="col-sm-2 control-label">Use LSH or not for clustering
		uselsh</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.uselsh}" id="lv" placeholder="uselsh value" />
		<span th:each="error : ${#fields.errors('configuration.uselsh')}"
			  th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.architectureType')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Instruction set">
	<label for="arch" class="col-sm-2 control-label">Instruction
		Set</label>
	<div class="col-sm-10">
		<select class="form-control"
				th:field="${confObj.configuration.architectureType}" id="arch"
				placeholder="Instruction Set">
			<option th:each="state : ${T(ca.mcgill.sis.dmas.kam1n0.commons.defs.Architecture.ArchitectureType).values()}"
					th:value="${state}"
					th:text="${state.toString().toUpperCase()}">
			</option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.architectureType')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.ClusterModel')} ?  'form-group has-error' : 'form-group' " style="display: none;">
	<label for="clumod" class="col-sm-2 control-label">Cluster Model</label>
	<div class="col-sm-10">
		<select class="form-control"
				th:field="${confObj.configuration.ClusterModel}" id="clumod"
				placeholder="Cluster Model">
			<option th:each="state : ${T(ca.mcgill.sis.dmas.kam1n0.app.clone.interpretableexecutableclassification.InterpretableExecutableClassificationApplicationConfiguration.ClusterModel).values()}"
					th:value="${state}"
					th:text="${state.toString().toUpperCase()}">
			</option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.ClusterModel')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.iteration')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of iterations to train the Asm2Vec model">
	<label for="iteration" class="col-sm-2 control-label">Number of
		Iterations</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.iteration}" id="iteration"
			   placeholder="Number of Iterations" /> <span
			th:each="error : ${#fields.errors('configuration.iteration')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.negative_samples')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of negative samples to use in approximating the log probability">
	<label for="negative_samples" class="col-sm-2 control-label">Number
		of Negative Samples</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.negative_samples}"
			   id="negative_samples" placeholder="Number of Negative Samples" /> <span
			th:each="error : ${#fields.errors('configuration.negative_samples')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.min_frequeceny')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Minimum frequency a token has to satisfy so as not to be ignored">
	<label for="min_frequeceny" class="col-sm-2 control-label">Minimum
		Token Frequency</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.min_frequeceny}"
			   id="min_frequeceny" placeholder="Minimum Token Frequency" /> <span
			th:each="error : ${#fields.errors('configuration.min_frequeceny')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.dim')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="The dimension of a token vector">
	<label for="dim" class="col-sm-2 control-label">Vector Size</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.dim}" id="dim"
			   placeholder="Vector Size" /> <span
			th:each="error : ${#fields.errors('configuration.dim')}"
			th:text="${error}" class="help-block" />
	</div>
</div>



<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.cluster_class_distribution_significance')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="The threshold of minimal discriminative power a cluster should have to be kept">
	<label for="cluster_class_distribution_significance" class="col-sm-2 control-label">Cluster Discriminative Power Threshold </label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.cluster_class_distribution_significance}"
			   id="cluster_class_distribution_significance" placeholder="Cluster Discriminative Power Threshold" /> <span
			th:each="error : ${#fields.errors('configuration.cluster_class_distribution_significance')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.min_exe_per_cluster')} ?  'form-group has-error' : 'form-group' "  style="display: none;">
	<label for="min_exe_per_cluster" class="col-sm-2 control-label">Number of covered executable per cluster threshold (only for SLink)</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.min_exe_per_cluster}"
			   id="min_exe_per_cluster" placeholder="Number of Covered Executable Per Cluster Threshold" /> <span
			th:each="error : ${#fields.errors('configuration.min_exe_per_cluster')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.similarity_threshold_for_cluster')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="The threshold of minimal similarity to consider two assembly functions are clones to each other">
	<label for="similarity_threshold_for_cluster" class="col-sm-2 control-label">Similarity Threshold</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.similarity_threshold_for_cluster}" id="similarity_threshold_for_cluster"
			   placeholder="Similarity Threshold" /> <span
			th:each="error : ${#fields.errors('configuration.similarity_threshold_for_cluster')}"
			th:text="${error}" class="help-block" />
	</div>
</div>


<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.maxEpochs')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Maximum number of epochs to train the feed-forward neural network">
	<label for="maxEpochs" class="col-sm-2 control-label">Maximum Number of Epochs to Train the Feed-Forward Neural Network</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.maxEpochs}" id="maxEpochs"
			   placeholder="Maximum number of epochs to train the feed-forward neural network" /> <span
			th:each="error : ${#fields.errors('configuration.maxEpochs')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.hiddendims')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Hidden layer dimensions of the interpretable feed-forward neural network without the dimension of the last layer (n_class*n_clusters)">
	<label for="hiddendims" class="col-sm-2 control-label">Hidden layer dims</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.hiddendims}" id="hiddendims"
			   placeholder="128,64" /> <span
			th:each="error : ${#fields.errors('configuration.hiddendims')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.patternRecognitionMethod')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Pattern recognition method">
	<label for="normlv" class="col-sm-2 control-label">Pattern Recognition Method</label>
	<div class="col-sm-10">
		<select class="form-control"
				th:field="${confObj.configuration.patternRecognitionMethod}"
				id="normlv" placeholder="Pattern recognition method">
			<option value="FrequentItemsetMining">Frequent Itemset Mining</option>
			<option value="SpectrumClustering">Spectrum Clustering</option>
		</select> <span
			th:each="error : ${#fields.errors('configuration.patternRecognitionMethod')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.minsupport')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Minimal support for each pattern">
	<label for="nPatterns" class="col-sm-2 control-label">Minimal support for each pattern</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.minsupport}" id="nPatterns"
			   placeholder="Minimal support for each pattern" /> <span
			th:each="error : ${#fields.errors('configuration.minsupport')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.nPatterns')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="Number of patterns to recognize">
	<label for="nPatterns" class="col-sm-2 control-label">Number of patterns to recognize</label>
	<div class="col-sm-10">
		<input class="form-control" type="text"
			   th:field="${confObj.configuration.nPatterns}" id="nPatterns"
			   placeholder="Number of patterns to recognize" /> <span
			th:each="error : ${#fields.errors('configuration.nPatterns')}"
			th:text="${error}" class="help-block" />
	</div>
</div>

<div class="form-group"
	 th:class="${#fields.hasErrors('configuration.classes')} ?  'form-group has-error' : 'form-group' " data-toggle="tooltip" title="The list of software classes defined by the user">
	<label for="classes" class="col-sm-2 control-label">Class List</label>
	<div class="col-sm-10">
	<span  class="btn btn-default btn-file" >
		<input class="form-control" type="file" id="classes_f" >Browse</input>
	</span>
		<div class="col-sm-10">
<textarea class="form-control" placeholder="class_1,class_2,class_3,..." id="file_result" th:field="${confObj.configuration.classes}"  rows="6" cols="10" form="appForm">
</textarea>
		</div>
	</div>
</div>

<script th:inline="javascript">
		/*<![CDATA[*/
document.getElementById('classes_f').onchange = function(){

  var file = this.files[0];

  var reader = new FileReader();
  reader.onload = function(progressEvent){
    // Entire file
    console.log(this.result);

	document.getElementById('file_result').value = "";

    // By lines
    var lines = this.result.split('\n');
    for(var line = 0; line < lines.length; line++){
	document.getElementById('file_result').value += lines[line]+"\n";
      console.log(lines[line]);
    }
  };
  reader.readAsText(file);
};
/*]]>*/
</script>
