<!DOCTYPE HTML>
<html>

<head>
<link th:href="@{/plugin/xeditable/bootstrap3-editable/css/bootstrap-editable.css}"
      href="../static/plugin/xeditable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script th:src="@{/plugin/xeditable/bootstrap3-editable/js/bootstrap-editable.min.js}"
        src="../static/plugin/xeditable/bootstrap3-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>

<link href="/css-external/cytoscape/cytoscape-style.css" rel="stylesheet" />

<script src="/js/cytoscape/cytoscape.min.js"></script>
<script  th:inline="javascript">


window.onload = function() {

var points = []
var pat = [[${pattern}]];
//for (const [k, v] of Object.entries(dist)) {
//points.push({y:v,label:k});
//}

    var cy = cytoscape({
  container: document.getElementById('cy') // container to render in
});

var nodes = [];
for(i = 0; i < pat.clusterList.length; i++)
{
nodes.push({ group: 'nodes', data: { id: pat.clusterList[i] }, position: { x: 100, y: 100*i+50 }});
console.log(pat.clusterList[i]);
}

var edges = [];
for (const [k, v] of Object.entries(pat.clscall)) {
    if(v!=null)
    {
        for (const [k2, v2] of Object.entries(v)) {
            edges.push({ data: { id: k+' '+k2, weight: v2, source: k, target: k2 } })
        }
    }
}

//document.getElementById('title').innerHTML  = pat.patternName;

//<div class="col-lg-12"  style="height: 100%; margin-top: 10px;">
//   <h1 id="title"></h1>
//</div>


cytoscape({
  container: document.getElementById('cy'),

  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        'width': '60px',
        'height': '60px',
        'background-color': '#ad1a66',
        'content': 'data(id)'
      })
    .selector('edge')
      .css({
        'curve-style': 'bezier',
        'width': 4,
        'target-arrow-shape': 'triangle',
        'opacity': 0.5
      }),

  elements: {
    nodes: nodes,

    edges: edges
  },

  layout: {
    name: 'circle',
    padding: 10
  },

  ready: function(){
    window.cy = this;
  }
});



}

</script>

<style>
    <!--
    .editableform {
        margin-top: -40px;
    }

        .editableform .form-control, .editabletextbox {
            width: 300px;
        }
    -->
    .modal-backdrop {
        z-index: -1;
    }
</style>

</head>
<body>




<div class="col-sm-12" style="height: 640px; weight: 800px;">
<div class="row">
    <div id="cy" ></div>
</div>
</div>

<div class="row">
<div class="col-sm-12">

<h3 th:inline="text" style='font-size: 22pt; color:#15317E'>
<span><center style="text-align:center" id="patternname-change" target="_blank" class ="editFilename" th:text="${pattern.patternName}" th:value="${pattern.patternID}">
</span>
</h3>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<a
class="btn btn-danger pull-right btn-sm href-file-edit editFilenameButton"
style="width: 100px"
th:value="${pattern.patternID}"
>Rename</a>

<a
class="btn btn-danger pull-right btn-sm href-file-del"
style="width: 100px"
onclick="deleteFunction()"
>Delete</a>
</div>
</div>

</body>

<script th:inline="javascript">
	/*<![CDATA[*/
var pat_name = /*[[${pattern.patternID}]]*/;
        $.fn.editable.defaults.mode = 'popup';
        $.fn.editableform.buttons =
            '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
            '<i class="fa fa-fw fa-check"></i>' +
            '</button>' +
            '<button type="button" class="btn btn-default btn-sm editable-cancel">' +
            '<i class="fa fa-fw fa-times"></i>' +
            '</button>';
            $('.editFilenameButton').click(function (e) {
                e.stopPropagation();
                var filenameItem = $("#patternname-change[value='" + $(this).attr('value') + "']");
                filenameItem.editable('toggle');
            });
            
            
            $('.editFilename').editable({
                url: /*[[${info.calculatePrefix() + 'renamePattern'}]]*/'/',
                title: 'Enter a New Pattern Name',
                inputclass: 'editabletextbox',
                send: 'always',
                toggle: 'manual',
                params: function(params) {
                    currentEditableData = {};
                    currentEditableData['id'] = pat_name;
                    currentEditableData['name'] = params.value; // needed by x-editable
                    //currentEditableData['oldValue'] = $(this).attr('value'); // needed in success: function
                    console.log("params:");
                    console.log(params);
                    return currentEditableData;
                },
                success: function(response, newValue) {
                    if(response == undefined)
                        return 'Http Error';
                    if(response['error'])
                        return response['error'];
                    console.log(response);

                }
            });
            
            

var url_pattern_delete = /*[[${info.calculatePrefix() + 'delPattern/'}]]*/'/';
function deleteFunction() {
	  window.location.replace(url_pattern_delete + "?id=" + pat_name);
}

	/*]]>*/
	</script>
</html>
