<?xml version="1.0" encoding="UTF-8"?>
<!--
# *******************************************************************************
#  * Copyright 2017 McGill University All rights reserved.
#  *
#  * Licensed under the Apache License, Version 2.0 (the "License");
#  * you may not use this file except in compliance with the License.
#  * You may obtain a copy of the License at
#  *
#  *     http://www.apache.org/licenses/LICENSE-2.0
#  *
#  * Unless required by applicable law or agreed to in writing, software
#  * distributed under the License is distributed on an "AS IS" BASIS,
#  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  * See the License for the specific language governing permissions and
#  * limitations under the License.
#  *******************************************************************************/
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="3401C26D-7F7D-4E90-A3E5-31C42B311A92"
           Name="Kam1n0 IDA Pro Plug-in x64"
           Language="1033"
           Version="2.0.0" Manufacturer="Data Mining and Security Lab, McGill University"
           UpgradeCode="CA83E452-8169-4237-9843-E862F1005337">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <Icon Id="AppIcon" SourceFile="images\K2.ico"/>
    <Icon Id="ExeIcon.exe" SourceFile="images\K2.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />


    <Feature Id="Complete" Title="Complete" Level="1" AllowAdvertise="no" Absent="disallow" Display="expand" Description="Install the complete set of features.">
      <Feature Id="FeaturePlugin" Title="Plugin in for IDA-Pro" Level="1" ConfigurableDirectory="PLUGINSDIR" AllowAdvertise="no" Absent="disallow" Display="expand" Description="This feature consists of scripts and resources for IDA-Pro plugin.">
        <ComponentGroupRef Id="GroupPlugin" />
      </Feature>
    </Feature>



    <Property Id="INSTALL_DIR">PLUGINSDIR</Property>
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="PLUGINSDIR" Name="plugins">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

</Wix>